.login-margin-top{
  min-height: 120px;
}
.middle-con-login{
  min-height: 506px;
}
/* box shadow */
.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user-name{
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  font-style: italic;
  text-decoration:underline;
}

.displayhiden{
  display: none !important;
}